{{#if @member}}
<div class="cover container">
    <div class="cover-content">
        <p>
            <div class="cover-description">Hola de nuevo, {{@member.firstname}}.
        </p>
        <p>
            <a href="mailto:hola@daniel.ventures" style="color: var(--brand-color);">Escríbeme</a> si quieres hablar conmigo.</div>
        </p>
    </div>
</div>
{{else}}
  
{{/if}}

        {{#if @labs.members}}
            {{#unless @member}}
            <div class="cover container">
        <div class="cover-content">
            {{#if @site.icon}}
                <div class="cover-icon">
                    <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
                </div>
            {{/if}}
                {{#if @site.description}}
                    <div class="cover-description">{{@site.description}}</div>
                {{/if}}
                <div class="cover-cta">
                    <button class="button members-subscribe" data-portal="signup">Suscríbete  gratis</button>
                    <button class="button button-secondary members-login" data-portal="signin">Entrar</button>
                </div>
                <div class="cover-description"> ✓ Acceso artículos exlusivos  ✓ Newsletter periódica</div>
            {{/unless}}
        {{/if}}
    </div>
</div>