{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-signup outer">
    <div class="inner">

    {{#if @member.paid}}

        {{!-- Logged in, paying member: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

    {{else}}

        {{!-- Logged in, not paying: Check out --}}
        <div class="checkout-form">
            <h1 class="checkout-title">Choose your subscription</h1>
            <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
            <div class="checkout-box">
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Gratuita</h3>
                        <strong>0€</strong>
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            <li>Recibe la newsletter Cambio</li>
                            <li>Notificaciones con nuevo contenido</li>
                        </ul>
                        <a class="button primary fit" href="https://daniel.ventures/signin/" data-members-plan="Free">Lo quiero</a>
                    </div>
                </div>
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Mensual</h3>
                        <span>{{@price.currency_symbol}}</span><strong>{{@price.monthly}}</strong> / mes
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            <li>Recibe la newsletter Cambio</li>
                            <li>Notificaciones con nuevo contenido</li>
                            <li>Contenido exclusivo para suscriptores</li>
                        </ul>
                        <a class="button primary fit" href="javascript:" data-members-plan="Monthly">Lo quiero</a>
                    </div>
                </div>
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Anual</h3>
                        <span>{{@price.currency_symbol}}</span><strong>{{@price.yearly}}</strong> / año
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            <li>Recibe la newsletter Cambio</li>
                            <li>Notificaciones con nuevo contenido</li>
                            <li>Contenido exclusivo para suscriptores</li>
                            <li>Ahorro del -16%</li>
                        </ul>
                        <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Lo quiero</a>
                    </div>
                </div>
            </div>
        </div>

    {{/if}}

    </div>
</main>
